{% extends 'base.html' %} 

{% block title %}About{% endblock title %} 

{% block about %}active{% endblock about %}

{% block body %}
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Generic Weather App</h5>
    <p class="card-text">WebApp to tell AQI of US Zipcodes</p>
    <a href="/weather" class="btn btn-primary">Visit</a>
  </div>
</div>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Generic Todo App</h5>
    <p class="card-text">WebApp to create and maintain todo List</p>
    <a href="/todo" class="btn btn-primary">Visit</a>
  </div>
</div>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Generic Stocks App</h5>
    <p class="card-text">WebApp to store and maintain stocks in your portfoilio</p>
    <a href="/stock" class="btn btn-primary">Visit</a>
  </div>
</div>
{% endblock body %}